body{
    direction: rtl;
}
.navbar-en {
    direction: rtl;
    text-align: right;
}

.navbar-en .logo {
    text-align: right;
}

.navbar-en .links ul {
    margin-right: 0;
    margin-left: auto;
}

.navbar-en .links ul li {
    display: inline-block;
}


.navbar-en .search-and-toggle-menu {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.navbar-en .sidenav {
    right: unset;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    border-right: 1px solid #eee;
}

.navbar-en .sidenav.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.navbar-en .sidenav ul li {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.navbar-en .colse {
    text-align: right;
}

/* RTL Search Input */

input[type="search"] {
    background-position-x: 95%;
    padding: 4px 30px 4px 10px;

}

/* RTL Side Navigation */

.navbar-en .sidenav ul li a {
    text-align: right;
}

.navbar-en .sidenav ul li:hover {
    background: var(--bs-primary);
}

.navbar-en .sidenav ul li:hover a {
    color: var(--bs-white);
}

.navbar-en .sidenav ul {
    padding: 0 20px;
}


header .content .title {
    text-align: right;

}

.news-updates #news-content {
    right: 100%;
    left: unset;
}

@-webkit-keyframes newsflash {
    0% {
        right: 100%;
    }

    100% {
        right: -100%;
    }
}

@keyframes newsflash {
    0% {
        right: 100%;
    }

    100% {
        right: -100%;
    }
}

.our-services .grid-container{
    direction: rtl;
}

.our-clients .title{
    text-align: right;
}

.our-clients .owl-carousel .owl-nav {
  
    right: unset;
    left: 0;
}

.our-clients .card .title{
    text-align: center;
}
.our-members,
.our-clients {
    direction: ltr;
}

.offset-md-2 {
    margin-right: 16.66666667%;
    margin-left: 0;

}

.offset-lg-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
}

.our-team .grid-card .card .social-media-card{
    left: 0;
    right: unset;
}
.title-box .sub-title::before,
.bannar .content .sub-title::before{
    right: 0;
    left: unset;
}

.text-end {
    text-align: left!important;
}

.how-we-works .frame-img .rel-img{
    right: unset;
    left: 0;
    border-left: none;

    border-right: 30px solid #fff;
    transform: translate(-30px, 30px);
    -webkit-transform: translate(-30px, 30px);
    -moz-transform: translate(-30px, 30px);
    -ms-transform: translate(-30px, 30px);
    -o-transform: translate(-30px, 30px);
}

.accordion-button::after{
    margin-left: unset;
    margin-right: auto;
}
@media (max-width: 767px) {
    .offset-md-2{
        margin: 0;
    
    }
    .navbar-en .sidenav ul li a i{
        margin-left: 10px;
        margin-right: 0;
    }
}
