@media (max-width: 991px) {
    .navbar-en .links {
        display: none;
    }

    .our-services .grid-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 50px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    header {
        height: 360px;
        background-position: 75%;
    }


    header .content .title {
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
    }

    footer .logo {
        border-radius: 0;
        width: 220px;
        margin: 0 auto 30px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    footer .social-media {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 30px;

    }

    .copyright {
        margin-top: 30px;
    }

    .introduction .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .introduction .col-lg-5,
    .introduction .col-lg-6.offset-lg-1 {
        text-align: center;
    }

    .introduction .col-lg-5 .image {
        margin-bottom: 30px;
    }

    .our-works .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .our-works .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .our-works .card {

        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .navbar-en {
        height: 90px;
    }

    .navbar-en .grid-container {
        max-height: 90px;
    }

    .navbar-en .logo {
        top: 45px;
    }

    .navbar-en .logo img {
        width: 120px;
        height: 120px;
        border: 2px solid #2E3192;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .navbar-en .links {
        display: none;
    }

    .search input[type="search"] {
        width: 150px;
        height: 30px;
    }

    .our-services .grid-container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    header .content .title {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.2;
    }

    .our-clients .title {
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 30px;
    }

    .our-clients .owl-carousel .owl-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 20px;
        position: unset;

    }

    footer .links ul {
        text-align: center;
    }

    footer .links ul li {
        display: block;
        padding: 10px 0;
    }

    footer .social-media div {
        margin: 0 8px;
    }

    footer .social-media div a {
        font-size: 14px;
    }

    footer .social-media div:hover {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    footer .social-media div:hover a {
        color: #000;
    }

    /**/
    .box-form {
        padding: 30px;
    }

    .grid-icons {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .grid-icons .item-cont {
        margin-bottom: 20px;
    }

    .g-tow-col {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .g-tow-col .form-area {
        width: 100%;
    }

    .contact-us .g-tow-col .form-area {
        width: 100%;
    }

    .contact-us .grid-icons {

        -webkit-box-pack: center;

        -ms-flex-pack: center;

        justify-content: center;
    }

    /**/
    .our-team .grid-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .bannar {
        height: 300px;
    }

    .bannar .content .title {
        font-size: 32px;
    }

    .introduction .content .title {
        font-size: 32px;
        line-height: 1.3;
    }

    .introduction .content .descrip {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;

    }

    .our-works .card .card-image img {
        max-height: 160px;
    }

    .our-works .card .card-title {
        font-size: 16px;
    }

    .our-works .card .card-text {
        font-size: 14px;
    }

    .our-works .card {

        margin-bottom: 20px;
    }

    .our-works .card:last-child {
        margin: 0;
    }

    .our-members {
        padding: 30px;
    }

    .our-members .owl-members {
        padding: 0;
    }

    .our-members .card-member {
        padding: 30px;
    }

    .our-members .card-member .image {
        width: 80px;
        height: 80px;
    }

    .our-members .card-member .descrip {
        font-size: 16px;
    }

    .our-members .card-member .title {
        font-size: 12px;
        line-height: 22px;
        margin-top: 10px;
    }

    .our-members .card-member .title span {
        font-size: 12px;
    }

    .owl-members .owl-nav button {
        width: 60px;
        height: 60px;
    }

    .scientific-research .text-box p {
        font-size: 14px;
    }

    .how-we-works .col-md-6 {
        padding: 30px 15px 0 !important;

    }

    .how-we-works .frame-img {
        width: 100%;
    }

    .how-we-works .frame-img .rel-img {
        width: 160px;
        border-top: 15px solid #fff;
        border-left: 15px solid #fff;
        transform: translate(0, 15px);
        -webkit-transform: translate(0, 15px);
        -moz-transform: translate(0, 15px);
        -ms-transform: translate(0, 15px);
        -o-transform: translate(0, 15px);
    }

    .navbar-mobile {
        display: block;
    }
    .frame-img{
        width: 100%;
    }
}

@media (max-width: 576px) {
    .our-team .grid-card {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .bannar {
        height: 240px;
    }

    .bannar .content .title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    footer {
        padding: 50px 0 30px;
    }


    footer .links ul li {
        font-size: 12px;
    }

    footer .social-media div {
        width: 25px;
        height: 25px;
    }

    footer .social-media div a {
        font-size: 12px;
    }

    footer .social-media div:hover {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    footer .social-media div:hover a {
        color: #000;
    }

    footer .copyright {
        margin-top: 30px;
    }

    footer .copyright ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    footer .copyright ul li {
        margin: 0 5px;
    }
}