/* Start Main Css*/

:root {
    --bs-main: #F3F3F3;
    --bs-white: #ffff;
    --bs-red: #e52522;
    --bs-black: #000000;
    --bs-primary: #2E3192;
    --bs-Grey: #4B4F58;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

body {

    font-family: "Poppins";
}

a {
    text-decoration: none;
}

img {
    border: medium none;
    max-width: 100%;
}

a,
a:focus,
a:hover,
input,
textarea {
    outline: none;
}

button {
    overflow: visible;
    border: none;
}


/* poppins-300 - latin */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins-v20-latin-300.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/poppins-v20-latin-300.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/poppins-v20-latin-300.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/poppins-v20-latin-300.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/poppins-v20-latin-300.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/poppins-v20-latin-300.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-regular - latin */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins-v20-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/poppins-v20-latin-regular.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-500 - latin */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/poppins-v20-latin-500.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/poppins-v20-latin-500.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/poppins-v20-latin-500.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/poppins-v20-latin-500.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-600 - latin */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/poppins-v20-latin-600.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/poppins-v20-latin-600.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/poppins-v20-latin-600.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/poppins-v20-latin-600.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/poppins-v20-latin-600.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/poppins-v20-latin-600.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-700 - latin */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/poppins-v20-latin-700.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/poppins-v20-latin-700.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/poppins-v20-latin-700.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/poppins-v20-latin-700.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* poppins-900 - latin */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/poppins-v20-latin-900.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/poppins-v20-latin-900.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/poppins-v20-latin-900.woff2") format("woff2"),
        /* Super Modern Browsers */
        url("../fonts/poppins-v20-latin-900.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/poppins-v20-latin-900.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/poppins-v20-latin-900.svg#Poppins") format("svg");
    /* Legacy iOS */
}


/* End Fonts */

/* End Main Css*/




/* Start Navbar */
.navbar-en {
    height: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.navbar-en .grid-container {
    position: relative;
    display: flex;
    align-items: center;
    max-height: 120px;
    justify-content: space-between;
    animation: fade-in 0.5s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-en .logo {
    position: relative;
    top: 60px;
    left: 0;
    z-index: 99;
    animation: slide-up 0.5s ease;
}

@keyframes slide-up {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar-en .logo img {
    width: 150px;
    height: 150px;
    border: 5px solid #2E3192;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.navbar-en .logo img:hover {
    transform: rotate(360deg);
}

.navbar-en .links ul {
    padding: 0;
    margin: 0;
}

.navbar-en .links ul li {
    list-style: none;
    display: inline-block;
    animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.navbar-en .links ul li a {
    color: #000;
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    transition: color 0.3s ease;
}

.navbar-en .links ul li a:hover,
.navbar-en .links ul li.active a {
    color: var(--bs-primary);
    font-weight: 600;
}

input[type="search"] {
    width: 190px;
    height: 32px;
    background: #E7E7E9;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 4px 10px 4px 30px;
    background-image: url(../img/icon-search.png);
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: 50%;
    color: #9F9FA8;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="search"]:focus {
    background-color: #fff;
}

.search-and-toggle-menu {
    display: flex;
    align-items: center;
    animation: slide-in 0.5s ease forwards;
    grid-gap: 20px;
}

.navbar-mobile {
    position: relative;
}

.navbar-mobile .toggle {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navbar-mobile .toggle:hover {
    transform: rotate(90deg);
}

div .language {
    padding: 15px !important;
    position: relative;
}

.language #language-toggle {
    font-size: 14px;
    border: none;
    background: transparent;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease;
}

.language #language-toggle:hover {
    color: var(--bs-primary);
    font-weight: 600;
}

.language #language-options {
    position: absolute;
    top: 90%;
    left: 0;
    width: 120px;
    background-color: #e7e7e9;
    border: 1px solid #e7e7e9;
    padding: 10px;
    display: none;
    animation: fade-in 0.5s ease;
    padding: 0px 15px !important;
    transform: translateX(8%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;
    -webkit-transform: translateX(8%);
    -moz-transform: translateX(8%);
    -ms-transform: translateX(8%);
    -o-transform: translateX(8%);
}

.language #language-options.active {
    display: block;
}

.language #language-options {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.language #language-options li {
    width: 100%;
    padding: 4px 10px 4px;
    display: flex;
    align-items: center;
}

.language #language-options li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
    display: block;
    padding: 0;
}

.language #language-options li a:hover {
    color: var(--bs-primary);
    font-weight: 600;
}


/* Start Navbar Mobile */
.navbar-en .sidenav {
    background: var(--bs-main);
    color: var(--bs-primary);
    position: fixed;
    top: 0;
    right: 0;
    left: unset;
    width: 300px;
    height: 100vh;
    z-index: 99;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    border-left: 1px solid #eee;
}

.navbar-en .sidenav.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.navbar-en .sidenav ul li {
    display: block;
    padding: 5px 25px;
    margin-bottom: 10px;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-animation: slide-in 0.5s ease forwards;
    animation: slide-in 0.5s ease forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.navbar-en .sidenav ul li a {
    color: var(--bs-primary);
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    display: block;
    width: 100%;
}

.navbar-en .sidenav ul li:hover {
    background: var(--bs-primary);
}

.navbar-en .sidenav ul li:hover a {
    color: var(--bs-white);

}

.navbar-en .colse {
    text-align: right;
    padding: 35px 30px;
    cursor: pointer;
}

.navbar-en .sidenav ul {
    padding: 0 20px;
}


/* End Navbar Mobile */

@media (max-width: 767px) {
    div .language {
        padding: 5px 25px !important;

    }

    div .language li {
        margin-bottom: 0 !important;

    }

    div .language li a:hover {
        color: #fff !important;
    }

    div .language #language-toggle {
        color: var(--bs-primary) !important;
        font-size: 20px;
        font-family: "Poppins";
        font-weight: 600;
    }

    .language #language-options {
        top: 90%;
        transform: translateX(25px);
        -webkit-transform: translateX(25px);
        -moz-transform: translateX(25px);
        -ms-transform: translateX(25px);
        -o-transform: translateX(25px);
    }
}

/* End Navbar */

/* Start Header */
header {
    background: url(../img/Header.png);
    background-size: cover;
    height: 420px;
    position: relative;
}

header .content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header .content .title {
    font-style: normal;
    font-weight: 600;
    font-size: 44.5484px;
    line-height: 53px;
    color: #FFFFFF;
}

/* End Header */

/* Start news updates */
.news-updates {
    padding: 20px 50px;
    background: #2E3192;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 60px;
}

.news-updates #news-content {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    animation: newsflash 30s linear infinite;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-animation: newsflash 30s linear infinite;
}

.news-updates p {
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
}

@-webkit-keyframes newsflash {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

@keyframes newsflash {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}


/* End news updates  */

/* Start Our Services */
.our-services {
    padding: 60px 0;
}

.title-box {
    text-align: center;
    margin-bottom: 50px;
}

.title-box .sub-title {
    background: rgba(232, 232, 232, 0.5);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 3px 10px;
    margin: 0 auto 10px;
    position: relative;
}

.title-box .sub-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: -o-linear-gradient(355.94deg, #2E3192 -1.21%, #1F25D7 58.66%, #060EFF 116.84%);
    background: linear-gradient(94.06deg, #2E3192 -1.21%, #1F25D7 58.66%, #060EFF 116.84%);
}

.title-box .sub-title p {
    font-weight: 400;
    font-size: 14px;
    color: #1C1F35;

}

.title-box .title {
    font-size: 35px;
    font-weight: 600;
    line-height: 41px;
    color: #2E3192;
}

.our-services .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 145px 1fr 145px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px 145px;
    text-align: -webkit-center;

}

.our-services .box-serv img {
    margin-bottom: 20px;
}

.our-services .box-serv .title {
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    font-weight: 500;
    color: #5E6275;
    margin-bottom: 10px;
}

.our-services .box-serv p {
    color: #666C89;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.52%;
}


.our-services .box-serv:hover .title {
    color: #2E3192;
    cursor: pointer;
}

.our-services .btn-more {
    max-width: 180px;
    height: 50px;
    margin: 40px auto 0;
    background: #2E3192;
    display: none !important;

}

.our-services .box-serv:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@keyframes fade-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.our-services .box-serv {
    animation: fade-in 0.6s ease-in-out;
    -webkit-animation: fade-in 0.6s ease-in-out;
    padding: 15px;
    border-radius: 6px;
}

/* End Our Services */

/* Start Our Clients  */
/*
.our-clients {
    padding: 60px 0;
}

.our-clients .title {
    color: #2E3192;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.4;
    margin-bottom: 100px;
}

.our-clients .card {
    background: rgba(46, 46, 46, 1);
    border-radius: 14px;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    padding: 35px 25px;
}

.our-clients .card .image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;

}

.our-clients .card .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 15px 0 5px;
}

.our-clients .card .job {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.our-clients .card .descrip {
    font-weight: 400;
    font-size: 14px;
    line-height: 162.52%;
    color: #FFFFFF;
    opacity: 0.3;
    margin-top: 10px;
}

.our-clients .owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -190px;
    right: 0;

}

.our-clients .owl-carousel .owl-nav button {
    width: 90px;
    height: 90px;
    background: #E6E6E6;
    border-radius: 50%;
}

.our-clients .owl-carousel .owl-nav .owl-next {
    background: #2E3192;
    margin-left: 20px;

}
*/
.our-clients {
    padding: 60px 0;
}

.our-clients .title {
    color: #2E3192;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.our-clients .card {
    background: rgba(46, 46, 46, 1);
    border-radius: 14px;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    padding: 35px 25px;
    text-align: center;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.our-clients .card:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.our-clients .card .image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 15px;
}

.our-clients .card .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    margin: 0;
}

.our-clients .card .job {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 15px;
}

.our-clients .card .descrip {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    opacity: 0.7;
    margin-bottom: 0;
}

.our-clients .owl-carousel .owl-dots {
    display: block;

}

.our-clients .owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -140px;
    right: 0;

}

.our-clients .owl-carousel .owl-nav button {
    width: 90px;
    height: 90px;
    background: #E6E6E6;
    border-radius: 50%;
}

.our-clients .owl-carousel .owl-nav .owl-next {
    background: #2E3192;
    margin-left: 20px;

}

.our-clients .owl-carousel .owl-nav .owl-prev {
    margin-right: 10px;
}

.our-clients .owl-carousel .owl-nav .owl-next {
    margin-left: 10px;
}

.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.owl-carousel .owl-dots .owl-dot.active {
    background-color: #2E3192;
}

/* End Our Clients  */

/* Start Footer */
footer {
    background: #1C1F35;
    padding: 100px 0 60px;
}

footer .logo img {
    border-radius: 6px;

}

footer .links ul {
    margin: 0;
    padding: 0;
}

footer .links ul li {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;

}

footer .links ul li a {
    color: #fff;
}

footer .links ul li:hover a {
    color: #FDD65B;
}

footer .social-media div {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

footer .social-media div a {
    color: #000;
}

footer .social-media div:hover {
    background: #FDD65B;

}

footer .copyright {
    text-align: center;
    margin-top: 50px;

}

footer .copyright ul {
    margin: 0;
    padding: 0;
}

footer .copyright ul li {
    list-style: none;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}

footer .copyright ul li a {
    font-size: 14px;
    color: #fff;

}

footer .logo img {
    border-radius: 6px;
    -webkit-animation: logo-anim 1s ease-in-out infinite alternate;
    animation: logo-anim 1s ease-in-out infinite alternate;
}

@-webkit-keyframes logo-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes logo-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

footer .links ul li:hover a {
    color: #FDD65B;
    text-decoration: underline;
}

footer .social-media div {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation: social-media-anim 0.5s ease-in-out infinite alternate;
    animation: social-media-anim 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes social-media-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes social-media-anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

footer .social-media div:hover {
    background: #FDD65B;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

footer .copyright {
    text-align: center;
    margin-top: 50px;
    opacity: 0;
    -webkit-animation: fade-in 1s forwards;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* End Footer */




/* Start Banner About Us */
.bannar {
    background: url(../img/Background-about-us.png);
    background-size: cover;
    background-position: center;
    height: 480px;
    position: relative;
}

.bannar .overlay {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(99.99%, rgba(0, 0, 0, 0.45)), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.45) 99.99%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 99.99%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bannar .content {
    position: absolute;
    bottom: 65px;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    top: unset;
}

.bannar .content .sub-title {
    background: #1C1F35;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.bannar .content .sub-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: -o-linear-gradient(355.94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
}

.bannar .content .sub-title span {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.bannar .content .title {
    font-size: 48px;
    margin-top: 10px;
    color: #fff;
}

/* Animation */
.bannar .content .sub-title,
.bannar .content .title {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}

.bannar .content .sub-title {
    -webkit-animation: fadeInLeft 1s ease forwards;
    animation: fadeInLeft 1s ease forwards;
}

.bannar .content .title {
    -webkit-animation: fadeInRight 1s ease forwards;
    animation: fadeInRight 1s ease forwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* End Banner About Us */

/* Start introduction */
.introduction {
    padding: 60px 0;
    background-color: #f5f5f5;
}

.introduction .image {
    border: 3px solid #2E3192;
    padding: 15px 20px;
    border-radius: 6px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.introduction .image img {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.introduction .image:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.introduction .content .title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.2;
    color: #2E3192;
    margin-bottom: 20px;
    -webkit-animation: fade-in 1s ease;
    animation: fade-in 1s ease;
}

.introduction .content .descrip {
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #666C89;
    -webkit-animation: slide-up 1s ease;
    animation: slide-up 1s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* End introduction */

/* Start Our Team */
.our-team {
    padding: 60px 0;
}

.our-team .grid-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.our-team .card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.our-team .card:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.our-team .card .card-img-top {
    max-height: 340px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

.our-team .card .card-body {
    background: #1C1F35;
    color: #fff;
    padding: 20px;
    position: relative;
}

.our-team .card .card-name {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.our-team .card .card-job {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.our-team .card .card-text {
    margin-bottom: 20px;
}

.our-team .card .social-media-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 20px;
}

.our-team .card .social-media-card .icon {
    margin-left: 10px;
}

.our-team .card .social-media-card a {
    color: #1C1F35;
}


.our-team .grid-card .card .social-media-card {
    width: 120px;
    height: 45px;
    background: -o-linear-gradient(355.94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.our-team .grid-card .card .social-media-card div {
    margin: 5px;
}

.our-team .grid-card .card .social-media-card a {
    color: #1C1F35;
}

.our-team .grid-card .card .social-media-card a i {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.our-team .grid-card .card .social-media-card a:hover i {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* End Our Team */


/* Start our-works */
.our-works {
    padding: 60px 0;
}

.our-works .card {
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.our-works .card:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.our-works .card .card-image img {
    max-height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 8px 8px 0 0;
}

.our-works .card .card-body {
    padding: 20px;
}

.our-works .card .card-title {
    font-size: 18px;
    line-height: 1.2;
    color: #2E3192;
    font-weight: 600;
    margin-bottom: 10px;
}

.our-works .card .card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #ABB0BA;
    margin-bottom: 20px;
}

.our-works .card .link-primary {
    color: #2E3192;
    font-weight: 600;
    -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
    transition: color 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: color 0.3s ease, transform 0.3s ease;
    transition: color 0.3s ease, transform 0.3s ease;
    transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.our-works .card .link-primary:hover {
    color: #1C1F35;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}


@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.our-works .btn {
    background-color: #1C1F35;
    color: #ffffff;
    font-weight: 600;
    padding: 12px 32px;
    border-radius: 30px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.our-works .btn:hover {
    background-color: #242649;
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
}


/* End our-works */



/* Start Our Members */
.our-members {
    padding: 60px;
}

.our-members .owl-carousel .owl-stage-outer {
    padding: 50px 0 0;
}

.our-members .card-member {
    padding: 80px 30px 30px;
    position: relative;
    background: #1C1F35;
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.our-members .card-member:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.our-members .card-member .image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}

.our-members .card-member .descrip {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #F2F2F2;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.our-members .card-member:hover .descrip {
    opacity: 1;
}

.our-members .card-member .title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #F2F2F2;
    margin-top: 20px;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.our-members .card-member:hover .title {
    opacity: 1;
}

.our-members .card-member .title span {
    display: block;
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.our-members .card-member:hover .title span {
    opacity: 1;
}

.owl-members {
    padding: 0 80px;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.owl-members.loaded {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.owl-members {
    padding: 0 80px;

}

.owl-members .owl-nav {
    display: block !important;
}

.owl-members .owl-nav button {
    background: #1c1f35 !important;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;

}

.owl-members .owl-nav button i {
    color: #fff;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;

}

.owl-members .owl-nav .owl-prev {
    left: -25px;
}

.owl-members .owl-nav .owl-next {
    right: -25px;

}

.owl-members .owl-nav button:hover {
    -webkit-transform: translateY(-50%) scale(1.1);
    -ms-transform: translateY(-50%) scale(1.1);
    transform: translateY(-50%) scale(1.1);
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.owl-members .owl-nav button:hover i {
    color: #F2F2F2;
}

/* End Our Members */
.bannar-sharia-counci {
    background-image: url('../img/Background-sharia-counci.png');
    background-position: top;

}

/* Start scientific-research */
.scientific-research {
    padding: 60px 0;
}

.scientific-research .image-box {
    margin-bottom: 25px;
}

.scientific-research .text-box p {
    color: #666C89;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.scientific-research .text-box p:last-child {
    margin: 0;
}

/* Additional Effects */

.scientific-research .title-box {
    text-align: center;
}




.scientific-research .image-box img {
    width: 100%;
    max-height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
}

.scientific-research .text-box p {
    line-height: 1.8;
}

/* Animation */
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.scientific-research .image-box,
.scientific-research .text-box {
    -webkit-animation: fadeInUp 1s ease-in-out;
    animation: fadeInUp 1s ease-in-out;
}

.bannar-services {
    background-image: url('../img/Background-serv.png');
}

/* End scientific-research */



/* Start How-We Works */
.how-we-works {
    padding: 60px 0 90px;

}

.how-we-works .frame-img {
    position: relative;
}

.how-we-works .frame-img .rel-img {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(30px, 30px);
    border-top: 30px solid #fff;
    border-left: 30px solid #fff;
    -webkit-transform: translate(30px, 30px);
    -moz-transform: translate(30px, 30px);
    -ms-transform: translate(30px, 30px);
    -o-transform: translate(30px, 30px);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;

}

.right-box .item-serv {
    grid-gap: 15px;
    margin-bottom: 30px;
}

.right-box .item-serv:last-child {
    margin: 0;
}

.right-box .item-serv .icon-circle {
    width: 60px;
    height: 60px;
    background: #1C1F35;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 25px;

}

.right-box .item-serv .icon-circle i {
    color: #fff;
}

.right-box .item-serv .content .title {
    color: #1C1F35;
    font-size: 22px;
    line-height: 1.4
}

.right-box .item-serv .content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #666C89;

}




.how-we-works .frame-img:hover .rel-img {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}


.right-box .item-serv .icon-circle {
    width: 60px;
    height: 60px;
    background: #1C1F35;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 25px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.right-box .item-serv:hover .icon-circle {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* End How-We Works */



/* Start Banner legal-certificates */
.bannar-legal-certificates {
    background-image: url(../img/Background-certif.png);
    background-position: top;

}

.certificates .title-box .descrip {
    color: #666C89;
    font-size: 16px;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}

/* End Banner legal-certificates */
/* Start Fatwa */
.fatwas {
    padding: 30px 0 60px;
}

.fatwas .accordion-item {
    border: 2px solid #1C1F35;
    margin-bottom: 20px;
}

.fatwas .accordion-button {
    background: #1C1F35;
    color: #fff;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.fatwas .accordion-button:not(.collapsed) {
    background: #1C1F35;
    color: #fff;
}

.fatwas .accordion-button::after {
    background-image: url(../img/arrow_drop_down.png);
    height: 10px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.fatwas .accordion-button:not(.collapsed)::after {
    background-image: url(../img/arrow_drop_down.png);
}

.fatwas .accordion-button:focus {
    border-color: transparent;
    outline: 0;
}

.fatwas .accordion-body {
    color: #666C89;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.3s ease, max-height 0.3s ease;
    -o-transition: opacity 0.3s ease, max-height 0.3s ease;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.fatwas .accordion-collapse.show .accordion-body {
    opacity: 1;
    max-height: 500px;
    -webkit-transition: opacity 0.3s ease, max-height 0.3s ease;
    -o-transition: opacity 0.3s ease, max-height 0.3s ease;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

/* End Fatwa */


/*Start Contact Us*/
.contact-us {
    padding: 60px 0;
}

.bannar-contact-us {
    background-image: url(../img/Background-contact-us.png);

}

.box-form {
    max-width: 960px;
    background: #091242;
    padding: 100px;
    margin: auto;
    ;
}

.contact-us .title-box .title {
    color: #fff;
    margin-bottom: 20px;

}

.contact-us .title-box .sub-title {
    background-color: #273270;
}

.contact-us .title-box p {
    color: #fff;
    margin-bottom: 20px;

}

.contact-us .title-box .sub-title p {
    margin: 0;
}

.contact-us .title-box .sub-title::before {
    background: -o-linear-gradient(355.94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
}

.contact-us .grid-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: 20px 60px;
    padding: 0 40px;
    margin-bottom: 40px;

}

.contact-us .grid-icons .item-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    grid-gap: 10px;
    text-align: center;

}

.contact-us .grid-icons .item-cont .icon-circle {
    background: #273270;
    border: 1px solid #273270;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact-us .grid-icons .item-cont .icon-circle i {
    color: #fff;
}

.contact-us .grid-icons .item-cont span {
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.contact-us .g-tow-col {
    grid-gap: 30px;
    margin-bottom: 20px;
}

.contact-us .g-tow-col .form-area {
    width: 50%;
}

.contact-us input {
    border: 1px solid rgba(224, 224, 224, 1);
    background: transparent;
    height: 60px;
    padding: 7px 20px;
    width: 100%;
}

.contact-us textarea {
    border: 1px solid rgba(224, 224, 224, 1);
    background: transparent;
    padding: 7px 20px;
    width: 100%;
}

.contact-us textarea::-webkit-input-placeholder,
.contact-us input::-webkit-input-placeholder {
    color: #fff;

}

.contact-us textarea::-moz-placeholder,
.contact-us input::-moz-placeholder {
    color: #fff;

}

.contact-us textarea:-ms-input-placeholder,
.contact-us input:-ms-input-placeholder {
    color: #fff;

}

.contact-us textarea::-ms-input-placeholder,
.contact-us input::-ms-input-placeholder {
    color: #fff;

}

.contact-us textarea::placeholder,
.contact-us input::placeholder {
    color: #fff;

}

.contact-us .btn-submit {
    background: -o-linear-gradient(355.94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    height: 60px;
    padding: 20px 30px;
    width: 194px;
    margin: 40px auto 0;
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #23212A;
}



.box-form {

    -webkit-animation: slide-up 0.8s ease;

    animation: slide-up 0.8s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.contact-us .title-box .title {
    color: #fff;
    margin-bottom: 20px;
    -webkit-animation: fade-in 0.8s ease;
    animation: fade-in 0.8s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contact-us .title-box .sub-title {

    -webkit-animation: pulse 1.5s infinite;

    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.contact-us .title-box p {
    color: #fff;
}

.contact-us .grid-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 40px;
    -webkit-animation: fade-in 0.8s ease;
    animation: fade-in 0.8s ease;
}

.contact-us .grid-icons .item-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contact-us .grid-icons .item-cont .icon-circle {
    background: #273270;
    border: 1px solid #273270;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contact-us .grid-icons .item-cont .icon-circle i {
    color: #fff;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.contact-us .grid-icons .item-cont span {
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.contact-us .grid-icons .item-cont:hover .icon-circle {
    background: #fff;
    border-color: #fff;
}

.contact-us .grid-icons .item-cont:hover .icon-circle i {
    color: #273270;
}

.contact-us .g-tow-col {
    grid-gap: 30px;
    margin-bottom: 20px;
    -webkit-animation: fade-in 0.8s ease;
    animation: fade-in 0.8s ease;
}

.contact-us .g-tow-col .form-area {
    width: 50%;
}

.contact-us input,
.contact-us textarea {
    border: 1px solid rgba(224, 224, 224, 1);
    background: transparent;
    height: 60px;
    padding: 7px 20px;
    width: 100%;
    color: #fff;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
}

.contact-us input::-webkit-input-placeholder,
.contact-us textarea::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.5;
}

.contact-us input::-moz-placeholder,
.contact-us textarea::-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}

.contact-us input:-ms-input-placeholder,
.contact-us textarea:-ms-input-placeholder {
    color: #fff;
    opacity: 0.5;
}

.contact-us input::-ms-input-placeholder,
.contact-us textarea::-ms-input-placeholder {
    color: #fff;
    opacity: 0.5;
}

.contact-us input::placeholder,
.contact-us textarea::placeholder {
    color: #fff;
    opacity: 0.5;
}

.contact-us textarea {
    resize: none;
}

.contact-us .form-area {
    margin-bottom: 20px;
    -webkit-animation: fade-in 0.8s ease;
    animation: fade-in 0.8s ease;
}

.contact-us .btn-submit {
    background: -o-linear-gradient(355.94deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    height: 60px;
    padding: 20px 30px;
    width: 194px;
    margin: 40px auto 0;
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #23212A;
    text-align: center;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    -webkit-animation: fade-in 0.8s ease;
    animation: fade-in 0.8s ease;
}

.contact-us .btn-submit:hover {
    background: #FFD7A6;
}


.contact-us input:focus {
    border-color: #FFD7A6;
    outline: none;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 215, 166, 0.5);
    box-shadow: 0 0 0 2px rgba(255, 215, 166, 0.5);
}

/* End Contact Us */


/**/

.navbar-mobile {
    display: none;
}

.navbar-en .colse {
    padding: 20px;
}

.navbar-en .sidenav ul li a i {
    margin-right: 10px;
}

.frame-img {
    width: max-content;
}